body header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60lvw;
    margin: auto;
}

header h1 {
    font-size: 300%;
    margin-bottom: 0;
}

body {
    /* background-color: rgb(145, 145, 58); */
    background-image: url("assets/images/hat_tiling.png");
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
}

header {
    border-width: 4px;
    border-style: solid;
    margin-top: 20px;
    border-radius: 13px;
}

#headshot {
    height: 15lvh;
    width: 15lvw;
    clip-path: circle();
    object-fit: contain;
}

.links {
    /* display: inline-table; */
    text-align: justify;
    padding-bottom: 40px;
}

.header-link {
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    @media screen and (width <= 700px) {
        display: flex;
        padding: 0;
    }
}

a {
    color: #ef9c18;
    font-weight: bolder;
    /* font-style: italic; */
}

h1 {
    font-family: monospace;
}

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#headline {
    padding-left: 5%;
    padding-right: 5%;
}

.about-me {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    width: 60vw;

    @media screen and (width <= 900px) {
        flex-direction: column;
    }

}

.projects, .contact-me {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    display: flex;
    /* justify-content: space-evenly; */
    align-items: stretch;
    margin: auto;
    width: 60lvw;

    @media screen and (width <= 700px) {
        text-wrap: normal;
    }

}

.lede {
    margin: auto;
    width: 60vw;
    padding-top: 30px;
    font-size: large;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80vw;
    text-align: center;
    bottom: 0;
    position: relative;
    margin: auto;
    left: 0;
    right: 0;
    color: gray;
}

.accordion-item {
    border: 3px solid #000000;
    border-radius: 5px;
    margin-bottom: 14px;
    overflow: hidden;
    width: 60vw;
    border-radius: 7px;
}

.accordion-header {
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
    gap: 12px;
    cursor: pointer;
    list-style: none;
    padding: 14px 20px;
    font-weight: bold;
    background-color: #eef2f4;
    width: 60lvw;
}

.accordion-header-text {
    width: 55lvw;
}
.accordion-header::-webkit-details-marker {
    display: none;
}

/* .accordion-header::after {
    content: "";
    flex-shrink: 0;
    transition: transform 2s ease;
} */

:root {
    interpolate-size: allow-keywords;
}

.accordion-item::details-content {
    height: 0;
    overflow: hidden;
    transition: height 0.8s ease-in, content-visibility 1s ease-in allow-discrete;
}

.accordion-item[open]::details-content {
    height: auto;
}

.accordion-item[open] .accordion-header {
    border-bottom: 1px solid #000000;
}

.accordion-content {
    padding: 12px 20px 20px 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    background-color: rgb(248, 246, 246);

    @media screen and (width <= 1500px) {
        flex-direction: column-reverse;
        justify-content: center;
    }
}

.accordion-image {
    height: 60%;
    width: 60%;
}

.main-content {
    background-color: rgb(255, 255, 255);
    width: max-content;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 15px;
    border: 5px solid;
}

#back-to-top {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: red;
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
}